// *{
//     //universal selector 
//     margin: 0;
//     padding: 0;
//     box-sizing: border-box;
// }

.content{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
    font-size: 28px;
    //font-size: 16px;
    background-color: black;
}

p{
    margin-bottom: 30px;
}

.regular-text{
    font-weight: 400;
}

/////// Header ///////////

.header-content{
    width: 100%;
    height: 100vh;
    //color: #fff;
   // background: #ccc;
   background-image: url(./img/bg-header-black-3.jpg);
   background-size: cover;
   background-position: center; 
   background-attachment: fixed; // we can move while the photo its static
   box-shadow: inset 0 0 100px 150px rgba(0,0,0,.8);// shadow inside around the page


   ///position static photo///

   position: fixed;
    top:0;// change for the navbar
    left: 0;

    //flex box

   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;

}

.header-text{
    color: #fff;
}

.header-text .icon{
    font-size: 45px;
}

.header-text .title{
    font-weight: 700;
    font-size: 50px;
    animation: blue-neon 2s infinite alternate;
}

/// Animation ///

@keyframes blue-neon {
// 0%{
//      color: yellow;
//     }
// 50%{
//     color: brown;
// }

// 100% {
//        color: blue;
//    }
/// simple keyframe///

0%,10%,15%,20%,30%,35%,40%,50%,55%,60%,70%,75%,80%,85%,90%,100%{
    text-shadow: 9px 9px 18px yellow;
}

10%{
    text-shadow: none;
}


}